* {
    margin: 0;
    padding: 0;
}

 {
    border: 1px dotted rgba(0, 0, 0, 0.5)
}

* {
    font-family: "Dosis", "Roboto", sans-serif;
}

html { 
  background: url("pictures/ramen-957173_960_720.jpeg") no-repeat center center fixed; 
  background-size: cover;
}
/* #header {
    margin: 0;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/64/Hiroshige_Bowl_of_Sushi.jpg"); 
    background-image: url("pictures/ramen-957173_960_720.jpeg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 980px;
} */

#headline {
    height: 450px;
    width: 450px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    margin: auto;
    position: relative;
    top: 265px;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    height: 50%;
    width: 70%;
    margin: auto;
    padding-top: 120px;
    line-height: 2em;
}

h2 {
    color: white;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    padding-top: 40px;

}

h3 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}
.container {
    background-color: rgba(230, 230, 230, 0.8);
    box-sizing: border-box;
    width: 100%;
    height: 1150px;
    margin: auto;
    position: relative;
    top: 1300px;
}
    
.text {
    box-sizing: border-box;
    font-size: 35px;
    width: 40%;
    margin: 0 40px 0 90px;
    position: relative;
    top: 50px;
    display: inline-block;
}

img{
    width: 40%;
    position:relative;
    top: -270px;
    padding-left: 88px;
    
}
.specialities {
    background-color: rgba(230, 230, 230, 0.8);
    height: 1000px;
    width: 100%;
    position: relative;
    top: 2000px;
}

.textzwei {
    font-size: 35px;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin:auto;
    top: 50px;
}

.products {
    box-sizing: border-box;
    width: 30%;
    position: relative;
    display: inline-block;
    margin: auto 20px;
 
}
.products img {
  
    height: 300px;
    width: 300px;
    border-radius: 100%;
    position: relative;
    margin: 300px auto;
    
}    
li {
    display: block;
}

