h1 {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

h2 {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 20px;
    margin: auto;
    text-align: justify;
    padding: 50px 120px;
    
}

p {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 15px;
    margin: auto;
    text-align: justify; 
    padding: 0px 120px 50px 120px;
    
}

#map {
    height: 600px;
    width: 1024px;
    margin: auto;
    
}